# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

#cscope and ctags files
cscope.files
cscope.out
tags

# a reference conf file
conf/reference.conf

#autom4te.cache
#autom4te.cache
