# Object files
*.o
*.lo
*.ko
*.obj
*.elf

# Libraries
*.lib
*.la
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

#cscope and ctags files
cscope.files
cscope.out
tags

# a reference conf file
conf/reference.conf

#autom4te.cache
autom4te.cache

# reconf.sh sysbol link
reconf.sh

#for gdb debug the program
.gdbinit

#for generated Makefile
Makefile

#for debs
*.deps
